body {
	font-family: Arial, sans-serif;
	background-color: #f2f2f2;
}

.login {
	background-color: #fff;
	margin: 50px auto;
	padding: 20px;
	width: 400px;
	border-radius: 5px;
	box-shadow: 0px 0px 10px #ccc;
}

h2 {
	text-align: center;
	color: #333;
}

form {
	display: flex;
	flex-direction: column;
}

label {
	font-size: 14px;
	margin-bottom: 5px;
	color: #333;
}

input[type="text"],
input[type="password"] {
	padding: 10px;
	margin-bottom: 10px;
	border: none;
	border-radius: 3px;
	background-color: #f2f2f2;
}

input[type="submit"] {
	background-color: #008CBA;
	color: #fff;
	border: none;
	padding: 10px;
	border-radius: 3px;
	cursor: pointer;
}

input[type="submit"]:hover {
	background-color: #006080;
}
